body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.formhead h1{
    color:gold;
    font-size: xx-large;
    text-align: center;
}

.formhead{
    background-color:black;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.form input[type='text']{
    width: 60%;
    height: 50px;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    border-radius: .2em;
}

.formhead .form  input[type='date']{
    width: 60%;
    height: 50px;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    border-radius: .2em;
}

.formhead .form input[type=file]::file-selector-button {
    width: 80%;
    height: 100px;
    padding: .6em 1em;
    margin: .5em 0px;
    border: 2px solid white;
    font-family: 'Barlow', sans-serif;
    font-size: x-large;
    border-radius: .2em;
    background-color: white;
  }
  
.formhead .form  input[type=file]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  }

.formhead .form {
    color:white;
    font-size: x-large;
}

.formhead .form input[type=submit]{
    width: 40%;
    padding: .9em 1em;
    background-color:white; 
    border:khaki;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    color:black;
    cursor: pointer;
    border-radius: .2em;
    margin: .5em 0px;
}
.formhead .form input[type=submit]:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  }
