body {
    font-family: "Raleway", sans-serif;
    text-align: center;
    background-color: black;
    min-height: 100%;
    background-position: center;
    background-size: cover
}

h1{
    color: gold;
    font-size: xx-large
}

.content .section{
    float: left;
    width: 50%;
    color:white;
    text-align: left;
    font-size: x-large;
}

.content .section #border_img{
    border: 10px solid;
    border-color: white;
    padding:10px;
    width:80% ;
    height:100%;
}