<!DOCTYPE html>
<html>
<head>
<title>Criminal Registration</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/insert.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<body>    
    
    <div id="contact" class="formhead">
        
        <h1>Register Criminal</h1>
        <div class="form">
        <form name="criminalrec" method="post" action='\criminal' enctype = "multipart/form-data">
            <label for="Name">Name:*</label>
            <input class="box" type="text" placeholder="Name" required name="Name"><br>
            <label for="Father's Name">Father's Name:*</label>
            <input class="box" type="text" placeholder="Father's Name" required name="Fathers_Name"><br>
            <label for="Date">Date of Birth:*</label>
            <input class="box" type="date" placeholder="Date of Birth" required name="Date" ><br>
            <label for="Crimes Commited">Crimes Commited:*</label>
            <input class="box" type="text" placeholder="Crimes Commited" required name="Crimes_Commited"><br>
            <label for="Identification Mark">Identification Mark:*</label>
            <input class="box" type="text" placeholder="Identification Mark" required name="i_mark"><br>
            <label for="gender">Gender:*</label><br>
            <input type="radio" id="male" name="gender" value="Male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value="Female">
            <label for="female">Female</label><br>
            <input type="radio" id="others" name="gender" value="Others">
            <label for="others">Others</label><br>
            <label for="Select_file">Select Image to Upload:*</label><br>
            <input class="box" type="file" placeholder="Image" accept="image/*" required name="Insert_Criminal"><br>
            <input class="box"  type="submit"  placeholder="Submit" required name="imagesubmit"><br>
        </form>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>