<!DOCTYPE html>
<html lang="en">
<head>
<title>Criminal Found</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/view.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<body>

<h1>Criminal Detected</h1>
    {% for p in people %}
            <h3> {{ p }} </h3>
    {% endfor %}
</body>
</html>